# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build files
dist/
build/

# editor folders
.vscode/
.idea/

# temporary files
*.tmp
*.temp